<!-- login-template.html -->
<section class="section showcase-bg" style="background-image: url('img/background_2.jpg')">
    <div class="container is-box-log" style="background-color: white">

        <p class="title is-2 is-spaced" style="text-align: left; font-family: 'Arial'">Login</p>

        <div class="field">
            <p class="control has-icons-left has-icons-right">
                <input class="input" type="email" placeholder="Email">
                <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
                <span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>
            </p>
        </div>
        <div class="field">
            <p class="control has-icons-left">
                <input class="input" type="password" placeholder="Password">
                <span class="icon is-small is-left">
      <i class="fas fa-lock"></i>
    </span>
            </p>
        </div>
        <div class="field">
            <p class="control">
                <button class="button custom">
                    Log in
                </button>
            </p>
        </div>

    </div>
</section>
