<!-- main-template.html -->


<section ng-controller="mainViewController" class="section showcase-bg">
    <div id="center-titles" class="container" style="vertical-align: center; text-align-all: center;margin-outside:auto;">
        <p class="text-has-shadow title is-1" style="color: white; margin-right: 20px"><b>Welcome to Sportif</b></p>
        <p class="text-has-shadow subtitle is-3" style="color: white; padding-left: 20px"><b>Subscribe</b> and <b>pay</b> now online the annual <b>fee</b> to your sport association.</p>
    </div>
</section>
