<!-- signup-template.html -->
<section class="section showcase-bg center-box" style="background-image: url('img/background_2.jpg')">
    <div class="container is-box-log center-box" style="background-color: white; text-align: left">

        <p class="title is-2 is-spaced" style="text-align: left; font-family: 'Arial'">Signup</p>

        <div class="field">
            <label class="label">Name</label>
            <div class="control">
                <input class="input" type="text" placeholder="e.g Alberto Carbognin">
            </div>
        </div>

        <div class="field">
            <label class="label">Email</label>
            <div class="control">
                <input class="input" type="email" placeholder="e.g. alberto.carbognin@gmail.com">
            </div>
        </div>


        <div class="field">
            <label class="label">Password</label>
            <p class="control">
                <input class="input" type="password" placeholder="Password">
    </span>
            </p>
        </div>
        <div style="text-align: right">
            <div class="field">
                <p class="control">
                    <button class="button custom">
                        Sign up
                    </button>
                </p>
            </div>
        </div>


    </div>
</section>
