<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Associazione Sportiva</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-route/1.7.8/angular-route.min.js" integrity="sha512-Verh3o2plvhEbk/ct46ThMyRkWOeokouYUg2N8BH6DYphkBhespORMmgTg7MuNBbYKZ1zzit+44K6lzXVcMBmA==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-cookies/1.7.8/angular-cookies.min.js" integrity="sha512-hm0dF/wn+bi0rmDovur+igAqDtl2itcMXFkU9LZ5uwOQLivPgg4RKzu4aylv8hZEl5h3sbYmk95pKsi+lhnHdg==" crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/controller/app.js"></script>
    <script type="text/javascript" src="js/controller/main-controller.js"></script>
    <script type="text/javascript" src="js/controller/login-controller.js"></script>
    <script type="text/javascript" src="js/controller/signup-controller.js"></script>
    <script type="text/javascript" src="js/controller/dashboard-controller.js"></script>
    <script type="text/javascript" src="js/controller/subscription-controller.js"></script>

    <link rel="stylesheet" href="css/bulma.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body ng-app="app" ng-controller="appController">
    <div class="main-container">
        <nav ng-show="!$root.hideAll" class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="#!">
                <span class="circle"><span class="circle"
                                           style="background-color: darkorange; margin: 6px; border-radius: 30%"></span></span>
                    <span class="logo" width="112" height="25">{{appName}}</span>
                </a>
            </div>

            <div ng-if="$root.showNavBar" id="navbarBasic" class="navbar-menu">

                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button custom" href="#!signup">
                                <strong>Sign up</strong>
                            </a>
                            <a class="button is-light" href="#!login">
                                Log in
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-if="!$root.showNavBar" id="navbarLogged" class="navbar-menu">

                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button custom" ng-click="logout()">
                                <strong>Logout</strong>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <div ng-view></div>

        <footer ng-show="!$root.hideAll" class="footer">
            <div class="content has-text-centered">

                <p>
                    <strong>Sportif </strong>(Associazione Sportiva) by <a href="https://github.com/carbogninalberto">Alberto
                    Carbognin</a> - <strong>Web Architectures</strong> project - <strong>unsplash</strong> (<a href="https://unsplash.com/">images</a>)
                    <br>
                    &bull; <a href="#!abouts"> About </a> - <a href="#!abouts"> Privacy </a> &bull;
                </p>


            </div>
        </footer>
    </div>
</body>
</html>